ion-grid{
  margin-top: 50px;
}
 
.shoppingCart {
  margin-right: 1rem;

}
.toolbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #724b12;
 
}

 
ion-toolbar img{
  margin-top:0.25em;
  margin-right: 1em;
  height: 2em;
  width: 9em;
/*   display: inline-flex; */
  border-radius: 10%;
  border-color:  rgb(190, 134, 13)  ;
  border-style: solid;
}
 
 ion-item{
  min-width: 100%;
}

.inline {
 /*  display:  flex; */
 


}

.margin {
  margin-right: 18em;
}

 
/* ---------------------------------------------EFECTO LOCO DE VEGETALES MOVIENDOSE DE ACA PARA ALLA  ------------------
                                                ---- EN LAS COLUMNAS DE LOS COSTADOS, PANTALLA GRANDE ----- */
 

.alignment {
  display: inline-flex;
  justify-content: flex-start;
  margin-right: 15px;

}

.margin {
  margin-right: 15px;
}

 

.gap {
  display: flex;
  flex-wrap: wrap;

}

.accomodation {
  list-style: none;
  flex-basis: 33.333333%
}



 
@media (min-width:991px) {

  ion-toolbar img{
 
    margin-left: 2em;
  
  }
 .recomendation-button{
  margin-top: .75em;
  margin-left: .75em;
 }
  .shoppingCart {
    margin-right: 4rem;
  
  }
  .menu-title{
    
    margin-right: 4em;
  }

  .generalTitle {
    position: relative;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fdfdfd;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    perspective: 500px;
    text-shadow: 0px 0px 5px #504f4b, 0px 0px 10px #6d6345d9, 0px 0px 10px #9c8249,
      0px 0px 20px #a57229;
  }

}