ion-grid{
  margin-top: 50px;
}
 
.ion-toolbar--end {
  display:  flex;
  justify-content: space-between;
  align-items: center;


}
ion-toolbar img{
  margin-top:0.25em;
  margin-right: 2em;
  height: 2em;
  width: 9em;
  display: inline-flex;
  border-radius: 10%;
  border-color:  rgb(190, 134, 13)  ;
  border-style: solid;
}
 
 ion-item{
  min-width: 100%;
}

.inline {
  display: inline-flex;
  align-items: center;


}

.margin {
  margin-right: 18em;
}

 
/* ---------------------------------------------EFECTO LOCO DE VEGETALES MOVIENDOSE DE ACA PARA ALLA  ------------------
                                                ---- EN LAS COLUMNAS DE LOS COSTADOS, PANTALLA GRANDE ----- */
 

.alignment {
  display: inline-flex;
  justify-content: flex-start;
  margin-right: 15px;

}

.margin {
  margin-right: 15px;
}

.ion-toolbar--end {
  display: inline-flex;
  justify-content: center;
  align-items: center;


}

.gap {
  display: flex;
  flex-wrap: wrap;

}

.accomodation {
  list-style: none;
  flex-basis: 33.333333%
}






/*  ----------------EFECTO COOL DE DESPLAZAMIENTO AUTOMATICO  ------------------ */

/* #main{
  background: rgb(28,29,29);
background: linear-gradient(0deg, rgba(28,29,29,1) 0%, rgba(79,32,51,1) 20%, rgba(75,12,28,1) 46%, rgba(249,18,18,1) 74%, rgba(253,187,45,1) 100%);




  height: 100%;
  width: 100%;
 
 
  background-color: #E8BA9B;
 
  background-size: cover;
  animation: scrollBg 3 3s linear forwards;

}     @keyframes scrollBg {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-3330px);
  }
}             */


@media (min-width:991px) {

 
/* 
  #main {
    background: rgb(28, 29, 29);
    background: linear-gradient(0deg, rgba(28, 29, 29, 1) 0%, rgba(79, 32, 51, 1) 20%, rgba(75, 12, 28, 1) 46%, rgba(249, 18, 18, 1) 74%, rgba(253, 187, 45, 1) 100%);
  } */

  .generalTitle {
    position: relative;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fdfdfd;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    perspective: 500px;
    text-shadow: 0px 0px 5px #504f4b, 0px 0px 10px #6d6345d9, 0px 0px 10px #9c8249,
      0px 0px 20px #a57229;
  }

}